nav{
	font-family: 'Open Sans',Arial,sans-serif;
	font-weight: 700;
}
p {
	font-family: 'Lato',Helvetica, Arial, Lucida, sans-serif;
	font-size: 18px;
	margin-top: 15px;
	margin-bottom: 20px;
	width: 100%;
	line-height: 30px;
}
h2 {
	font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
	font-size: 58px;
	font-weight: 700;
}
h4 {
	font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
	font-size: 20px;
	line-height: 30px;
}
#tecla{
	width: 100%;
	color: #ffffff;
	line-height: 30px;
	border-radius: 50px;
}
#sobre {
	margin-left: 85px;
	padding: 130px 0px 130px 105px;
}
#terapias {
	padding-bottom: 100px;
}
#terapias h2 {
    font-size: 40px;
	margin-bottom: 50px;
}
#borda {
	padding-top: 35px;
}
.icone{
	display: flex;
	gap: 10px;
}
.image-container {
	position: relative;
}
.overlay-image {
	position: absolute;
	top: 50%;
	left: 10px;
	width: 75%;
	height: 60%;
	object-fit: cover;
	z-index: 1;
	transform: translateY(-50%);
}
.background-image {
	width: 90%;
	height: 72%;
	object-fit: cover;
	transform: translateX(+10%);
}
.col-md-4 h2:first-child{
	padding-bottom: 20px;
	font-size: 40px;
}
.col-md-4 p{
	font-size: 15px;
}
.botao{
	font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
	font-size: 18px;
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 10px;
	margin-top: 70px;
}
.banner {
	background-image: url(../assets/banner3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 67px 0px;
	background-position: center center;
}
.banner .caption {
	background-color: transparent;
	color: #4f4f4f;
	padding: 210px 100px 0px 108px;
	max-width: 55%;
}
.banner .caption .line-dec {
	width: 30px;
	height: 5px;
	background-color: #fc9cd7;
}
.card-group .card img {
	object-fit: cover; /* Mantém a proporção e preenche o espaço disponível */
	height: 300px; /* Altura desejada para as imagens */
}
.card-group .card {
	border: none;
}